#### Define the function "say_hello" so it prints "Hello!" when called.

In [1]:
def say_hello():
    print("Hello!")

#### Call the function.

In [2]:
say_hello()

Hello!

#### Define the function "say_something" so it prints whatever is passed as the variable when called.

In [3]:
def say_something(something):
    print(something)

#### Call the function.

In [4]:
say_something("Hello World")

Hello World

#### Print Jane's Introduction.

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

#### Using the map() function

A list of my grades.

In [7]:
my_grades = ['B', 'C', 'B' , 'D']

Import Pandas and convert the list to a Series

In [8]:
import pandas as pd

my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

##### Change the grades by one letter grade.
Using the map() function we are going to change B to A, C to B, and D to C. 

To change each string value in this Series to another value using the following format: 

map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

In [9]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

#### Using the format() function

A list of my grades.

We get the grades formatted to the nearest whole number percent:

In [11]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

#### Chaining the map() and format() functions 
We also apply the format() function to a Series or column in a DataFrame by chaining the map() and format() functions
* Convert the numberical grades to a Series

In [12]:
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

Format the grades to the neares whole number

In [13]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object