In [14]:
# List of high schools
    # List_name = ["item1", "item2", "item3", "item4"]
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [15]:
# Print out each high school in list using a FOR loop
    # 'school' is a placeholder we are using instead of (i), same results if we replaced with (i)
    # Use a placeholder for each "Item" from the [list of items]
for schools in high_schools:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [16]:
# A dictionary of high schools and the type of school.
    # List_of_dictionaries_name = [{dict_1}, {dict2}, {dict3}, {dict4}]
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [17]:
# Use a placeholder to iterate through and print each {dictionary} from the [list of dictionaries]
for hs_name_type in high_school_types: 
    print(hs_name_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [18]:
# List of high schools
    # We added these schools to the initial list of 4 schools we made in the first cell
    # high_schools = ["Hernandez High School", "Figueroa High School",
                #        "Wilson High School","Wright High School"]
    # When we go back to the second cell to print the list of schools AFTER RUNNING THIS CELL,
        # the schools from below are printed together with the schools from the first list
    # When we run the lines in order, the second cell only print the schools from the 1st list
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [19]:
# Add the Pandas dependency.
import pandas as pd

In [20]:
# Create a Pandas Series from a list.
    # We assign the variable school_series to the conversion of the list of high schools to a 
        # Pandas Series by using pd.Series() instead of pandas.Series().
    # This is how we use the alias pd in our code. There is no direct output.
    # The series we created is in computer memory
school_series = pd.Series(high_schools)
# Retreive and view output by calling the variable school_series
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [21]:
for (i) in school_series:
    print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [23]:
# Create Dictionaries
    # The column headers in the Excel file are the keys in the dictionary. 
    # The value for each of the keys corresponds to a row in the Excel file.
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},  
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [29]:
# Convert the array, or list of dictionaries to a DataFrame
    # We assign the variable school_df to the conversion of the list of high school districts 
        # to a Pandas Series by using pd.Series() instead of pandas.Series().
    # This is how we use the alias pd in our code. There is no direct output.
    # The series we created is in computer memory
school_df = pd.DataFrame(high_school_dicts)
# Retreive and view output by calling the variable school_df
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [33]:
# Inialize a new DataFrame from 3 separate [lists] in previous cell
schools_df = pd.DataFrame()

# Add each list to the empty schools_df DataFrame
    # Instead of using the dictionary name, we'll use the name of the DataFrame and make it equal 
        # to the list
schools_df["School ID"] = school_id

# Skill Drill 
# Add the school_name list as "School Name" to the schools_df DataFrame. 
schools_df["School Name"] = school_name
# Add the type_of_school list as "Type" to the schools_df DataFrame.
schools_df["Type"] = type_of_school

# Print the DataFrame
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [35]:
# Create the same DataFrame by creating a Python dictionary from the 3 lists: 
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school} 

# Now we can convert the high_schools_dict to a DataFrame.
# SKILL DRILL: Convert high_schools_dict to a DataFrame
schools_df = pd.DataFrame(high_school_dicts)
print(schools_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [39]:
# SKILL DRILL (Given an image, three columns labeled "school id, school_name, and type" with info)

# 1) Make three separate lists of information on high schools
school_id_2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name_2 = ["Huang High School", "Figueroa High School", 
               "Shelton High School", "Hernandez High School","Griffin High School", 
               "Wilson High School", "Cabrera High School", "Bailey High School", 
               "Holden High School", "Pena High School", "Wright High School", 
               "Rodriguez High School", "Johnson High School", "Ford High School", 
               "Thomas High School"]

type_of_school_2 = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", 
                  "District", "Charter", "Charter", "Charter", "District", "District", "District",
                  "Charter"]

In [42]:
# SKILL DRILL (CONT)
# 2) Inialize a new DataFrame from 3 separate [lists] from above
schools_df_2 = pd.DataFrame()

# 3) Add each list to the empty schools_df DataFrame
schools_df_2["School ID"] = school_id_2
schools_df_2["School Name"] = school_name_2
schools_df_2["Type"] = type_of_school_2

# 4) Print the DataFrame
print(schools_df_2)

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter